@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --fg: #000;
    --fg2: #333;
    --bg: #fff;
    --code-fg: #333;
    --code-bg: #f6f5f5;
    --meta: #031b4e99;
  }

  .dark {
    --fg: #fff;
    --fg2: #ddd;
    --bg: #000;
    --code-fg: #061433;
    --code-bg: #dbdde7;
    --meta: #ccd2ecff;
  }

  html,
  body {
    @apply text-sm font-mono font-normal bg-bg text-fg;
    text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
  }

  * {
    @apply box-border;
  }

  img {
    @apply max-w-full rounded-[10px] p-[5px];
  }

  img[alt=image], img[alt=alt_text] {
    @apply w-full max-w-[1024px];
  }

  blockquote, div.markdown-alert {
    @apply my-[5px] mx-0 p-[10px] rounded-[5px] border border-dotted border-fg text-xs;
  }

  blockquote > p, div.markdown-alert > p {
    @apply m-0 mb-0.5;
  }

  table, td, th {
    @apply border-collapse border border-fg2 p-[5px] overflow-x-auto;
  }

  .octicon {
    @apply m-0 mr-1;
  }

  pre {
    @apply border border-solid border-fg rounded-[5px] leading-[1.25em] text-xs flex relative p-[10px] text-[color:var(--code-fg)] bg-[color:var(--code-bg)] overflow-x-auto my-4;
  }
  
  /* Add spacing when pre, table, or blockquote are followed by each other */
  pre + pre,
  pre + table,
  pre + blockquote,
  table + pre,
  table + blockquote,
  blockquote + pre,
  blockquote + table {
    @apply mt-6;
  }

  p code {
    @apply p-[2px];
  }

  code {
    @apply font-[ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation_Mono,Courier_New,monospace];
  }

  ul {
    @apply m-0 ml-6 p-0 list-disc;
  }

  li {
    @apply p-[0.1rem];
  }

  p {
    @apply my-6;
  }

  a {
    @apply text-fg2 underline decoration-dotted decoration-1 underline-offset-2;
  }

  h2 {
    @apply text-2xl mt-10 mb-6;
  }

  h3 {
    @apply text-xl mt-8 mb-4;
  }

  h4 {
    @apply text-lg mt-6 mb-3;
  }

  h5 {
    @apply text-base font-bold mt-5 mb-2;
  }

  h2:before {
    content: "## ";
  }

  h3:before {
    content: "### ";
  }

  h4:before {
    content: "#### ";
  }

  h5:before {
    content: "##### ";
  }

  h6:before {
    content: "###### ";
  }
}

@layer components {
  /* https://github.com/markedjs/marked/blob/master/docs/css/style.css */
  .div-copy {
    @apply absolute top-0 right-0;
  }

  .div-copy .icon-copy {
    @apply opacity-100 transition-opacity duration-300 h-7 w-7 cursor-pointer p-1;
  }

  .div-copy.active .icon-copy {
    @apply opacity-100;
  }

  .div-copy .tooltip-copy {
    @apply relative;
  }

  .div-copy .tooltip-copy::before {
    content: "Copied";
    @apply absolute top-1/2 -translate-y-1/2 right-full mr-[5px] py-[2px] px-[7px] rounded-[5px] bg-fg2 text-bg text-center opacity-0 transition-opacity duration-300;
  }

  .div-copy.click .tooltip-copy::before {
    @apply opacity-100;
  }

  .div-copy .tooltip-copy::after {
    content: "";
    @apply absolute right-full mr-[-5px] top-1/2 -translate-y-1/2 border-solid border-[2px_2px_5px_8px] border-transparent border-l-fg2 opacity-0 transition-opacity duration-300;
  }

  .div-copy.click .tooltip-copy::after {
    @apply opacity-100;
  }
}
