html,
body {
    font-size: 13px;
    font-family: Menlo, Monaco, 'Courier New', monospace;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100%;
    border-radius: 10px;
    padding: 5px;
}

img[alt=image], img[alt=alt_text] {
    width: 100%;
    max-width: 1024px;
}

blockquote, div.markdown-alert {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px black dotted;
    font-size: 12px;
}

blockquote > p, div.markdown-alert > p {
    margin: 0 0 0.25rem;
}

table, td, th {
    border-collapse: collapse;
    border: 1px solid #333;
    padding: 5px;
    overflow-x: auto;
}

.octicon {
    margin: 0 0.25rem 0 0;
}

pre {
    border: 1px black solid;
    border-radius: 5px;
    line-height: 1.25em;
    font-size: 12px;
    display: flex;
    position: relative;
    padding: 10px;
    background: #fafafa;
    overflow-x: auto;
}

p code {
    padding: 2px;
}

code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

ul {
    margin: 0 0 0 1.5rem;
    padding: 0;
}

a {
    color: #333;
    text-decoration: underline;
    text-decoration-style: dotted;
    text-decoration-thickness: 0;
    text-underline-offset: 2px;
}

h2:before {
    content: "## "
}

h3:before {
    content: "### "
}

h4:before {
    content: "#### "
}

h5:before {
    content: "##### "
}

h6:before {
    content: "###### "
}

/* https://github.com/markedjs/marked/blob/master/docs/css/style.css */

.div-copy {
    position: absolute;
    top: 0;
    right: 0;
}

.div-copy .icon-copy {
    opacity: 1;
    transition: opacity .3s;
    height: 28px;
    width: 28px;
    cursor: pointer;
    padding: 4px;
}

.div-copy.active .icon-copy {
    opacity: 1;
}

.div-copy .tooltip-copy {
    position: relative;
}

.div-copy .tooltip-copy::before {
    content: "Copied";
    position: absolute;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* move to right */
    right: 100%;
    margin-right: 5px; /* and add a small left margin */

    /* basic styles */
    padding: 2px 7px;
    border-radius: 5px;
    background: #444;
    color: #fff;
    text-align: center;

    opacity: 0; /* hide by default */
    transition: opacity .3s;
}

.div-copy.click .tooltip-copy::before {
    opacity: 1;
}

.div-copy .tooltip-copy::after {
    content: "";
    position: absolute;

    /* position tooltip correctly */
    right: 100%;
    margin-right: -5px;

    /* vertically center */
    top: 50%;
    transform: translateY(-50%);

    /* the arrow */
    border-style: solid;
    border-width: 2px 2px 5px 8px;
    border-color: transparent transparent transparent #444;

    opacity: 0;
    transition: opacity .3s;
}

.div-copy.click .tooltip-copy::after {
    opacity: 1;
}